/** level 2 submenu width **/
.megamenu .dropdown_flyout ul li {
    width: 180px;
}

.megamenu_container {
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;;
	border-radius: 4px 4px 0px 0px;
}
.megamenu_light_bar {
	background: none;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.megamenu_light_bar .megamenu > li:hover, .megamenu_light_bar .megamenu > li.active {
	background: #0072bc; /* main menu over bg */
}
.megamenu_light_bar .megamenu > li > a {
	color:#9b9b9b; /* main menu font color */
	font-weight:bold; /* main menu font */
	text-shadow:0px 0px 0px #FFFFFF; /* main menu font shadow */
}
.megamenu_light_bar .megamenu > li:hover > a {
	color:#ffffff; /* main menu over font color */
	text-shadow:0px 0px 0px #FFFFFF; /* main menu over font shadow */
}

.megamenu li .dropdown_container,
.megamenu li .dropdown_fullwidth,
.megamenu li .dropdown_multilevel {
	padding-top:12px;
	padding-bottom:10px;
	-webkit-border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	border-radius: 0px 4px 4px 4px;
}

.megamenu li .dropdown_fullwidth,
.megamenu li .dropdown_multilevel {
	padding-top:12px;
	padding-bottom:10px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

.megamenu_light .megamenu li .dropdown_container,
.megamenu_light .megamenu li .dropdown_fullwidth,
.megamenu_light .megamenu li .dropdown_flyout li ul {
	border:0 solid #CCCCCC;
	background: #0093f2; /* submenu bg */

}
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent:hover,
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent.active {
	background-color: transparent;
}
.megamenu_light .megamenu > li > div a,
.megamenu_light .megamenu li ul li,
.megamenu_light .megamenu li ol li {
	color: #e9e9e9; /* submenu font color */
}
.megamenu_light .megamenu > li > div a:hover {
	color: #ffffff; /* submenu over font color */
}
.megamenu .dropdown_flyout li {
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
}
.megamenu .dropdown_flyout, 
.megamenu .dropdown_flyout .dropdown_flyout_level {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.megamenu .dropdown_flyout li {
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
}

/** products megamenu **/
.megamenu .myprdmenu ul {list-style: none outside none;}
.megamenu .myprdmenu ul.level-1 {margin:0 0 15px 0; padding:0;}
.megamenu .myprdmenu ul.level-2 {margin:0; padding:0;}
.megamenu .myprdmenu ul.level-3 {margin:0 0 0 0; padding:0;}
.megamenu .myprdmenu ul li {line-height: 18px !important;}
.megamenu .myprdmenu ul li > a {
  color: #e9e9e9 !important; /* megamenu font color */
  display: block;
}
.megamenu .myprdmenu ul li > a:hover {
  color: #ffffff !important; /* megamenu over font color */
}
.megamenu .myprdmenu li.level-1 > a {
  font-size: 14px;
  color: #ffffff !important; /* megamenu over font color */
  padding-bottom: 5px;
  border-bottom: dotted 1px #ffffff;
  margin-top: 15px;
  font-weight: bold;
}
.megamenu .myprdmenu li.level-2 > a {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}
.megamenu .myprdmenu li.level-3 > a {
	font-size: 14px;
	font-weight: normal;
  margin-bottom: 5px;
}

#megamenuAllCategories img {max-width: 220px;}
#megamenuAllCategories #megamenuAllCategoriesBlock hr {margin: 0 0 12px 0;}
#megamenuAllCategories #megamenuAllCategoriesBlock a {float: right; font-weight: bold;}
#flyoutAllCategories hr {margin: 6px 0 6px 0;}
#flyoutAllCategories a {font-weight: bold;}

/** images **/
.megamenu img {
	max-width: 100%;
	height: auto;
	border:none;
	margin-bottom: 18px;
}
.megamenu img.img_left {
	float: left;
	margin-right: 18px;
}
.megamenu img.img_right {
	float: right;
	margin-left: 18px;
}
.megamenu img {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1;
	-webkit-transition: opacity 0.3s ease-in-out; 
	-moz-transition: opacity 0.3s ease-in-out; 
	-o-transition: opacity 0.3s ease-in-out; 
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;  
}
.megamenu img:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1;
	-webkit-transition: opacity 0.3s ease-in-out; 
	-moz-transition: opacity 0.3s ease-in-out; 
	-o-transition: opacity 0.3s ease-in-out; 
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;  
}
